{{> header }}

<div class="container">
  <h1>Travel</h1>
  {{#each trips}}
    <div class="trip">
      <h2>{{this.name}}</h2>
      <img src="/images/{{this.image}}" alt="{{this.name}}" />
      <p>{{this.description}}</p>
    </div>
  {{/each}}
</div>

{{> footer }}
